@page "/"
@using Bookstore.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<h1><strong>Available books:</strong></h1>
@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="normal" style="width:90%">
        <tr class="normal">
            <td class="normal" style="width: 30%">
                <table>
                    <tr>
                        <td>
                            @foreach(var genre in filters.Genres)
                            {
                                <input type="checkbox" @onactivate="@(() => { AddGenre(genre); })" @ondeactivate="@(() => { RemoveGenre(genre); })"/><label>@genre</label><br />
                            }
                        </td>
                    </tr>
                </table>
            </td>
            <td class="normal" style="width: 70%">
                @if (books.Length == 0)
                {
                    <p style="font-size: 30px">There are no books matching your filters</p>
                }
                <table>
                    @foreach (var book in books)
                    {
                        <tr>
                            <td class="image">
                                <img src="@book.Cover" />
                            </td>
                            <td class="text">
                                @if (book.Series != null)
                                {
                                    <p style="font-size: 30px">@book.Series vol @book.Number</p>
                                }
                                <p style="font-size: 30px">@book.Title</p>
                                <p style="font-size: 25px">@string.Join(", ", book.Authors)</p>
                                @if (!book.isAvailable())
                                {
                                    <p style="color: #a6a6a6">
                                        @book.Status
                                    </p>
                                }
                                else
                                {
                                    <p style="color: #6600ff">
                                        @book.Status
                                    </p>
                                }
                                <div style="text-align: left">@string.Join(" ", book.Genres)</div>
                            </td>
                            <td class="buttons">
                                <button class="details" @onclick="@(() => { OpenDetails(book.BookId); })" />
                                <button class="comments" />
                                @if (book.isAvailable())
                                {
                                    <button class="cart" @onclick="@(() => { AddToCart(book); })" />
                                }
                            </td>
                        </tr>
                        @if (addedBookId == book.BookId)
                        {
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <p style="vertical-align:bottom; color: #c604fc; text-align: center; font-family: 'Poppins', sans-serif;"><b>@response</b></p>
                                </td>
                                <td>

                                </td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </table>
}

@code{
        private RetrieveBook[] books;
        private Filters filters;
        private Filters newFilters;
        private string user;
        private string response;
        private int addedBookId;

        protected override async Task OnInitializedAsync()
        {
            try
            {
                var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                user = authState.User.Identity.Name;
                books = await Http.GetFromJsonAsync<RetrieveBook[]>("books");
                filters = await Http.GetFromJsonAsync<Filters>($"/filters/over");
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }

            newFilters = new Filters
            {
                Genres = new List<string>(),
                Languages = new List<string>(),
                MaxPrice = filters.MaxPrice,
                MinPrice = filters.MinPrice,
                AvailableOnly = false,
                PartOfSeries = false
            };
    }

    private void OpenDetails(int id)
    {
        navigationManager.NavigateTo($"/details/{id}");
    }

    private async void AddToCart(RetrieveBook book)
    {
        var result = await Http.PostAsJsonAsync($"/cart/{user}", book);
        response = await result.Content.ReadAsStringAsync();
        addedBookId = book.BookId;
    }

    private void AddGenre(string genre)
    {
        newFilters.Genres.Add(genre);
    }

    private void RemoveGenre(string genre)
    {
        newFilters.Genres.Remove(genre);
    }

}

<style>
    p {
        font-family: 'Poppins', sans-serif;
    }
    table.normal {
        border-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    td.normal {
        border-style: none;
    }

        td.normal:first-child {
            border-style: none;
            border-right-style: none;
            border-left-style: none;
        }

        td.normal:last-child {
            border-style: none;
            border-right-style: none;
            border-left-style: none;
        }
    img {
        width: 110%;
        height: 110%;
    }

    h1 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
    }

    tr {
        border-spacing: 10px;
        vertical-align: top;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }

    td {
        border: 2px solid;
        border-style: solid none;
        border-color: #a6a6a6;
        padding: 11px;
    }

    .buttons {
        width: 20%;
    }

    td:first-child {
        border-left-style: solid;
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
        border-color: #a6a6a6;
    }

    td:last-child {
        border-right-style: solid;
        border-bottom-right-radius: 11px;
        border-top-right-radius: 11px;
        border-color: #a6a6a6;
    }

    td {
        padding: 20px;
    }

        td.image {
            width: 230px;
        }

    button {
        padding: 0px;
        border: none;
        border-radius: 50%;
    }

    .details {
        background-image: url(/Images/InactiveArrow.PNG);
        background-size: cover;
        width: 75px;
        height: 75px;
    }

        .details:hover {
            background-image: url(/Images/ActiveArrow.PNG);
            background-size: cover;
            width: 75px;
            height: 75px;
        }

    .comments {
        background-image: url(/Images/InactiveComment.PNG);
        background-size: cover;
        width: 75px;
        height: 75px;
    }

        .comments:hover {
            background-image: url(/Images/ActiveComment.PNG);
            background-size: cover;
            width: 75px;
            height: 75px;
        }

    .cart {
        background-image: url(/Images/InactiveBasket.PNG);
        background-size: cover;
        width: 75px;
        height: 75px;
    }

        .cart:hover {
            background-image: url(/Images/ActiveBasket.PNG);
            background-size: cover;
            width: 75px;
            height: 75px;
        }
</style>
