@page "/"
@using Bookstore.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<h1>Available books:</h1>
@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        @foreach (var book in books)
        {
            <tr>
                <td class="image">
                    <img src="@book.Cover" width="200" height="250" />
                </td>
                <td class="text">
                    @book.Title<br />
                    @book.Year<br />
                    @book.Authors<br />
                    @book.Status <br />
                </td>
                <td class="buttons">
                    <button class="details" />
                </td>
                <td class="buttons">
                    <button class="comments"/>
                </td>
                <td class="buttons">
                    <button class="cart" />
                </td>
            </tr>
        }
    </table>
}

@code{
    private RetrieveBook[] books;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            books = await Http.GetFromJsonAsync<RetrieveBook[]>("books");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}

<style>

    table {
        width: 50%;
        border-collapse: separate;
        border-spacing: 0 10px;
    }

    tr {
        border-spacing: 10px;
        vertical-align: top;
        text-align: left;
        font-family: 'Courier New';
        font-size: 20px;
        padding: 10px;
    }
    td {
        border: 2px solid;
        border-style: solid none;
        border-color: #a6a6a6;
        padding: 11px;
    }
    td:first-child {
        border-left-style: solid;
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
        border-color: #a6a6a6;
    }
    td:last-child {
        border-right-style: solid;
        border-bottom-right-radius: 11px;
        border-top-right-radius: 11px;
        border-color: #a6a6a6;
    }
    td {
        padding: 20px;
    }

    td.image {
        width: 230px;
    }

    button {
        padding: 0px;
        border: none;
        border-radius: 50%;
    }

    .details {
        background-image: url(/Images/InactiveArrow.PNG);
        background-size: cover;
        width: 75px;
        height: 75px;
    }

    .details:hover {
        background-image: url(/Images/ActiveArrow.PNG);
        background-size: cover;
        width: 75px;
        height: 75px;
    }

    .comments {
        background-image: url(/Images/InactiveComment.PNG);
        background-size: cover;
        width: 75px;
        height: 75px;
    }

    .comments:hover {
        background-image: url(/Images/ActiveComment.PNG);
        background-size: cover;
        width: 75px;
        height: 75px;
    }

    .cart {
        background-image: url(/Images/InactiveBasket.PNG);
        background-size: cover;
        width: 75px;
        height: 75px;
    }

    .cart:hover {
        background-image: url(/Images/ActiveBasket.PNG);
        background-size: cover;
        width: 75px;
        height: 75px;
    }


</style>
